window.KAIROS_WEBUI_CONFIG = {
  relayNames: [
    "$RELAY_1_NAME",
    "$RELAY_2_NAME",
    "$RELAY_3_NAME",
    "$RELAY_4_NAME"
  ],
  kvmUrls: [
    "$RELAY_1_KVM_URL",
    "$RELAY_2_KVM_URL",
    "$RELAY_3_KVM_URL",
    "$RELAY_4_KVM_URL"
  ]
};
